<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>
                    编译信息
                </h5>
            </div>
            <div class="ibox-content">
                <form method="post" action="list/commit">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">MDK版本</label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="mdkVersion">
                                <option>MDK5</option>
                                <option>MDK4</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">仓库链接</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Commit</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">工程文件名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-4 col-sm-offset-2">
                            <button class="btn btn-white btn-sm" type="reset">取消</button>
                            <button class="btn btn-primary btn-sm" type="submit">编译</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>